.DS_Store
.yardoc
.bundle
.config
.Spotlight-V100
.Trashes
_yardoc
Icon?
Gemfile.lock

*~
.*.swp
*.gem
*.rbc
*.sassc
*.vim
*.sublime*
**.orig

.svn/
.git/
.idea/
.rbx/
tmp/
coverage/
doc/
pkg/
rdoc/
bin/
vendor/bundle/
spec/tmp/
test/tmp/
test/version_tmp/
spec/reports/
